<%- include('header.ejs') %>

<div class="container">
    <h2 class="heading">Add a new product</h2>
    <form method="post">
        <div class="mb-3">
            <label for="inputProductName" class="form-label">Name <span class="warning">*</span></label>
            <input required type="text" name="productName" class="form-control" id="inputProductName" aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text">Good titles present the product and its key details in a few words.</div>
        </div>
        <div class="mb-3">
            <label for="inputProductPrice" class="form-label">Price <span class="warning">*</span></label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input required type="number" name="productPrice" class="form-control" id="inputProductPrice">
            </div>
        </div>
        <div class="mb-3">
            <label for="inputProductTags" class="form-label">Tags <span class="warning">*</span></label>
            <div class="tags">
                <div class="form-check">
                    <input required class="form-check-input" name="productTag" type="checkbox" value="work" id="inputWorkTag">
                    <label class="form-check-label" for="inputWorkTag">Work</label>
                </div>
                <div class="form-check">
                    <input required class="form-check-input" name="productTag" type="checkbox" value="lifestyle" id="inputLifestyleTag">
                    <label class="form-check-label" for="inputLifestyleTag">Lifestyle</label>
                </div>
                <div class="form-check">
                    <input required class="form-check-input" name="productTag" type="checkbox" value="motor" id="inputMotorTag">
                    <label class="form-check-label" for="inputMotorTag">Motor</label>
                </div>
                <div class="form-check">
                    <input required class="form-check-input" name="productTag" type="checkbox" value="mobileTag" id="inputMobileTag">
                    <label class="form-check-label" for="inputMobileTag">Mobile</label>
                </div>
            </div>
            <div id="tagHelp" class="form-text">You must check at least one tag.</div>
        </div>
        <div class="mb-3">
            <label for="inputProductImage" class="form-label">Image <span class="warning">*</span></label>
            <input type="file" name="image" class="form-control" id="inputProductImage" aria-label="Upload" aria-describedby="imageHelp" accept="image/png, image/jpg, image/jpeg">
            <div id="imageHelp" class="form-text">Allowed image formats: .png .jpg .jpeg</div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<%- include('footer.ejs') %>