.heading {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.error {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 0.5rem;

    color: var(--bs-danger);
    border: 2px solid var(--bs-danger);
    border-radius: var(--bs-border-radius);

    p {
        margin: 0;
    }
}

.warning {
    color: var(--bs-danger);
}